
.h4 {
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-weight: 500;
    -fx-padding: 10px 0 10px 0;
    -fx-font-size: 18px;
}

.btn-warning {
    -fx-text-fill: #ffffff;
    -fx-background-color: #f0ad4e;
    -fx-border-radius: 5;
}

.btn-warning:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #ed9c28;
    -fx-border-color: #d58512;
}

.btn-danger {
    -fx-text-fill: #ffffff;
    -fx-background-color: #d9534f;
    -fx-border-radius: 5;
}

.btn-danger:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #d2322d;
    -fx-border-color: #ac2925;
}

.btn-success {
    -fx-text-fill: #ffffff;
    -fx-background-color: #5cb85c;
    -fx-border-radius: 5;
}

.btn-success:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #47a447;
    -fx-border-color: #398439;
}

.btn-info {
    -fx-text-fill: #ffffff;
    -fx-background-color: #5bc0de;
    -fx-border-radius: 5;
}

.btn-info:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #39b3d7;
    -fx-border-color: #269abc;
}